.r-btn {
  font-size: 16px;
  border: 1px solid #1e633f;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  padding: 8px 24px;
  border-radius: 50px;
  &.filled {
    background-color: #1e633f;
    color: #fff;
  }

  &.outlined {
    background-color: #fff;
    color: #1e633f;
  }

  &.no-style {
    background-color: transparent;
    color: #000;
    padding: 0px;
    border-radius: 50px;
    border: 1px solid transparent;
    outline: none;
    font-weight: 400;
  }
}

